<h1>Welcome!!</h1>
<p>to
  <strong>PostStory</strong> 2.0.0</p>
<p>
  A Social Network for Viewing and Posting Stories of your life.
</p>
<p>
  Other silent features includes:
  <ol>
    <li>User can Register directly using Google OAuth</li>
    <li>User can choose their stories to be read by the world or completely private as your own personal diary.</li>
    <li>User can choose to enable/disable comments on their story</li>
    <li>User can view public stories without registering</li>
  </ol>
</p>

{{#if user}} {{else}}
<a class="btn red darken-1" href="/auth/google">
  <i class="fa fa-google left"></i> Login With Google </a>
{{/if}}